{% extends 'base.html.twig' %}

{% block content %}
    <h1>Weeks</h1>

    <div>
    {% for week in weeks if week.days|length %}
        <div>
            <a href="{{ path("week_show", {id: week.id}) }}">{{ week.year }} - Week {{ week.weekNumber }}</a>
            <ul>
            {% for day in week.days %}
                <li>
                    <a href="{{ path('day_index', {id: day.id}) }}">
                        {{ day.date|date('d.m.Y') }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
{% endblock %}