<style type="text/css">
    div.nutrition_table div.col-xs-6 {
        font-weight: bold;
    }

    div.nutrition_table div.col-xs-6.indent-1 {
        font-weight: normal;
    }

    div.nutrition_table div.toggle {
        background-color: #eee;
        cursor: pointer;
        color: cornflowerblue;
    }

    div.nutrition_table div.row {
        border: 1px solid black;
        border-bottom-width: 0;
    }

    div.nutrition_table div.separator {
        height: 4px;
        background-color: black;
    }

    div.nutrition_table div.indent-1 {
        padding-left: 25px;
    }
</style>
<div class="nutrition_table text-left">
    <div>
        <div class="row">
            <h4 class="col-xs-12">Nutrition Facts</h4>
        </div>
        <div class="row separator"></div>
        <div class="row separator"></div>
        <div class="row">
            <div class="col-xs-6">Amount per</div>
            <div class="col-xs-4 text-right">100g</div>
            <div class="col-xs-2 text-right dav">%</div>
        </div>
        <div class="row">
            <div class="col-xs-6">Calories: </div>
            <div class="col-xs-4 text-right">{{ nutrition.calories|nutrition(0) }}kcal</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.calories / dav.calories * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row separator"></div>
        <div class="row">
            <div class="col-xs-6">Macronutrients</div>
            <div class="col-xs-4"></div>
            <div class="dav"></div>
        </div>
        <div class="row">
            <div class="col-xs-6">Water:</div>
            <div class="col-xs-4 text-right">{{ nutrition.water|nutrition }}g</div>
            <div class="col-xs-2 text-right dav"></div>
        </div>
        <div class="row">
            <div class="col-xs-6">Alcohol:</div>
            <div class="col-xs-4 text-right">{{ nutrition.alcohol|nutrition }}g</div>
            <div class="col-xs-2 text-right dav"></div>
        </div>
        <div class="row toggle" data-toggle="collapse" data-target="#fat">
            <div class="col-xs-6">Total Fat:</div>
            <div class="col-xs-4 text-right">{{ nutrition.fat|nutrition }}g</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.fat / dav.fat * 100) | nutrition(0) }}%</div>
        </div>
    </div>
    <div id="fat" class="collapse">
        <div class="row">
            <div class="col-xs-6 indent-1">Saturated Fat:</div>
            <div class="col-xs-4 text-right">{{ nutrition.fattyAcidsSaturated|nutrition }}g</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.fattyAcidsSaturated / dav.fattyAcidsSaturated * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Mono-Saturated Fat:</div>
            <div class="col-xs-4 text-right">{{ nutrition.fattyAcidsMono|nutrition }}g</div>
            <div class="col-xs-2 text-right dav"></div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Poly-Saturated Fat:</div>
            <div class="col-xs-4 text-right">{{ nutrition.fattyAcidsPoly|nutrition }}g</div>
            <div class="col-xs-2 text-right dav"></div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Cholesterol:</div>
            <div class="col-xs-4 text-right">{{ nutrition.cholesterol|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.cholesterol / dav.cholesterol * 100) | nutrition(0) }}%</div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-xs-6">Sodium:</div>
            <div class="col-xs-4 text-right">{{ nutrition.sodium|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.sodium / dav.sodium * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row toggle" data-toggle="collapse" data-target="#carbs">
            <div class="col-xs-6">Total Carbohydrate:</div>
            <div class="col-xs-4 text-right">{{ nutrition.carbs|nutrition }}g</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.carbs / dav.carbs * 100) | nutrition(0) }}%</div>
        </div>
    </div>
    <div id="carbs" class="collapse">
        <div class="row">
            <div class="col-xs-6 indent-1">Sugars:</div>
            <div class="col-xs-4 text-right">{{ nutrition.sugar|nutrition }}g</div>
            <div class="col-xs-2 text-right dav"></div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Starch:</div>
            <div class="col-xs-4 text-right">{{ nutrition.starch|nutrition }}g</div>
            <div class="col-xs-2 text-right dav"></div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-xs-6">Dietary Fibers:</div>
            <div class="col-xs-4 text-right">{{ nutrition.fibres|nutrition }}g</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.fibres / dav.fibres * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6">Protein:</div>
            <div class="col-xs-4 text-right">{{ nutrition.protein|nutrition }}g</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.protein / dav.protein * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row separator"></div>
        <div class="row toggle" data-toggle="collapse" data-target="#vitamins">
            <div class="col-xs-6">Vitamins</div>
            <div class="col-xs-4"></div>
            <div class="col-xs-2 text-right dav">%</div>
        </div>
    </div>
    <div id="vitamins" class="collapse">
        <div class="row">
            <div class="col-xs-6 indent-1">Vitamin A:</div>
            <div class="col-xs-4 text-right">{{ nutrition.vitaminA|nutrition }}&mu;g</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.vitaminA / dav.vitaminA * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Vitamin B1:</div>
            <div class="col-xs-4 text-right">{{ nutrition.vitaminB1|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav"></div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Vitamin B2:</div>
            <div class="col-xs-4 text-right">{{ nutrition.vitaminB2|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav"></div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Vitamin B6:</div>
            <div class="col-xs-4 text-right">{{ nutrition.vitaminB6|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.vitaminB6 / dav.vitaminB6 * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Vitamin B12:</div>
            <div class="col-xs-4 text-right">{{ nutrition.vitaminB12|nutrition }}&mu;g</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.vitaminB12 / dav.vitaminB12 * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Vitamin C:</div>
            <div class="col-xs-4 text-right">{{ nutrition.vitaminC|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.vitaminC / dav.vitaminC * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Vitamin D:</div>
            <div class="col-xs-4 text-right">{{ nutrition.vitaminD|nutrition }}&mu;g</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.vitaminD / dav.vitaminD * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Vitamin E:</div>
            <div class="col-xs-4 text-right">{{ nutrition.vitaminE|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.vitaminE / dav.vitaminE * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Retinol Equivalent:</div>
            <div class="col-xs-4 text-right">{{ nutrition.retinolEquiv|nutrition }}&mu;g</div>
            <div class="col-xs-2 text-right dav"></div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">&beta;-Carotene:</div>
            <div class="col-xs-4 text-right">{{ nutrition.betaCarotene|nutrition }}&mu;g</div>
            <div class="col-xs-2 text-right dav"></div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Niacin:</div>
            <div class="col-xs-4 text-right">{{ nutrition.niacin|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.niacin / dav.niacin * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Folate:</div>
            <div class="col-xs-4 text-right">{{ nutrition.folate|nutrition }}&mu;g</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.folate / dav.folate * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Pantothenic Acid:</div>
            <div class="col-xs-4 text-right">{{ nutrition.pantothenicAcid|nutrition }}&mu;g</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.pantothenicAcid / dav.pantothenicAcid * 100) | nutrition(0) }}%</div>
        </div>
    </div>
    <div>
        <div class="row separator"></div>
        <div class="row toggle" data-toggle="collapse" data-target="#minerals">
            <div class="col-xs-6">Minerals</div>
            <div class="col-xs-4"></div>
            <div class="col-xs-2 text-right dav">%</div>
        </div>
    </div>
    <div id="minerals" class="collapse">
        <div class="row">
            <div class="col-xs-6 indent-1">Sodium:</div>
            <div class="col-xs-4 text-right">{{ nutrition.sodium|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.sodium / dav.sodium * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Potassium:</div>
            <div class="col-xs-4 text-right">{{ nutrition.potassium|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.potassium / dav.potassium * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Chloride:</div>
            <div class="col-xs-4 text-right">{{ nutrition.chloride|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.chloride / dav.chloride * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Calcium:</div>
            <div class="col-xs-4 text-right">{{ nutrition.calcium|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.calcium / dav.calcium * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Magnesium:</div>
            <div class="col-xs-4 text-right">{{ nutrition.magnesium|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.magnesium / dav.magnesium * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Posphorous:</div>
            <div class="col-xs-4 text-right">{{ nutrition.phosphorous|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.phosphorous / dav.phosphorous * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Iron:</div>
            <div class="col-xs-4 text-right">{{ nutrition.iron|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.iron / dav.iron * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Iodine:</div>
            <div class="col-xs-4 text-right">{{ nutrition.iodine|nutrition }}&mu;g</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.iodine / dav.iodine * 100) | nutrition(0) }}%</div>
        </div>
        <div class="row">
            <div class="col-xs-6 indent-1">Zinc:</div>
            <div class="col-xs-4 text-right">{{ nutrition.zinc|nutrition }}mg</div>
            <div class="col-xs-2 text-right dav">{{ (nutrition.zinc / dav.zinc * 100) | nutrition(0) }}%</div>
        </div>
    </div>
    <div>
        <div class="row separator"></div>
        <div class="row separator"></div>
    </div>
</div>